:root {
    --primary-color-light: hsl(220, 43%, 40%);
    --primary-color: hsl(220, 43%, 30%);
    --primary-color-dark: hsl(220, 43%, 20%);
    --secondary-color-light: hsl(24, 87%, 67%);
    --secondary-color: hsl(24, 87%, 57%);
    --secondary-color-dark: hsl(24, 87%, 47%);
    --text-color: #555;
    --background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
}
.off-screen-menu {
    background-color: var(--primary-color-dark);
    height: 100vh;
    width: 100%;
    max-width: 40%;
    position: fixed;
    top: 0;
    right: -40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    transition: 0.3s ease;
    opacity: 80%;
    z-index: 5;
}
.off-screen-menu.active {
    right: 0;
}
.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: 2rem;
    position: relative;
    top: 5px;
}
.ham-menu span {
    height: 3px;
    width: 80%;
    background-color: var(--primary-color-light);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    z-index: 5;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
}
ul {
    list-style-type: none;
    margin-top: 100px;
}
.nav-item {
    font-size: 1.5rem;
    padding: 6px;
}
header {
    background-color: var(--primary-color);
    height: 4rem;
    margin-top: 0;
}

.hoshida-logo {
    height: 40px;
    margin-left: 1rem;
    margin-top: 10px;
}
.logo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2%;
    /* Black with 50% transparency. Adjust the last number (0.5) to make it darker or lighter. */
    z-index: 1; /* Make sure it's on top of the image */
}
.hero-container {
    position: relative;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
}
.hero-background-image {
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -999;
    opacity: 90%;
}
.hero-content {
    position: relative;
    text-align: center;
    padding: 10px;
    max-width: 800px;
    z-index: 2;
    font-size: 0.7rem;
    display: flex;
}
.cta-container {
    height: 100px;
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    bottom: 15px;
    color: white;
    z-index: 2;
}

.japanese {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}
.english {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.cta-button {
    height: 35px;
    border-radius: 10px;
    position: relative;
    margin-top: 5px;
    padding: 0 10px 0 10px;
    text-align: center;
    background-color: var(--secondary-color-dark);
    color: white;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    font-size: 1rem;
}
.cta-button:hover {
    background-color: var(--secondary-color-light);
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    /* Black with 50% transparency. Adjust the last number (0.5) to make it darker or lighter. */
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1; /* Make sure it's on top of the image */
}
.cta-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
}
.modal-content {
    padding: 1rem;
    border-radius: 8px;
    position: relative;
}
.cta-modal.hidden {
    display: none;
}
.close-modal-btn {
    background-color: transparent;
    justify-self: flex-end;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 10px;
}
.introduction-container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.introduction-header {
    color: var(--primary-color);
    margin: 10px;
}
.introduction-content {
    font-size: 14px;
    padding: 0 20px;
}
.slide-show-container {
    height: 200px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.testimonial-container {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.testimonial-header {
    color: var(--primary-color);
    margin: 10px;
}
.testimonial-img {
    height: 150px;
}
.testimonial-text {
    font-size: 12px;
    text-align: center;
    padding: 20px;
}
.staff-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    height: auto;
    justify-items: center;
    align-items: start;
    margin-top: 20px;
    padding: 20px; /* Add some padding around the container */
}
.staff-header {
    color: var(--primary-color);
    grid-column: 1/-1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.staff-img {
    height: 160px;
}
.staff-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.staff-card-title {
    font-size: 14px;
}
.staff-card-name {
    font-size: 14px;
}
.staff-card-description {
    font-size: 12px;
}
.pricing-container {
    height: 250px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}
.pricing-header {
    color: white;
    margin: 10px;
    text-decoration: underline;
}
.pricing-content {
    color: white;
    padding: 20px;
}
.cta-2-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
}
.cta-2-header {
    color: var(--primary-color);
}
.footer-container {
    height: 100px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text {
    font-size: 12px;
    color: white;
    margin: 20px;
}
